:root {
    --black-color: black;
    --orange-color: #FF7F00;
    --charcoal-color: #333;
    --white-color: white;
    --red-color: red;
    --orange1-color: orange;
    --darkorange-color: #ffa726;
    --vividorange-color: #ff6600;
    --successgreen-color: #28a745;
    --azureblue-color: #0073e6;
    --royalblue-color: #0033cc;
    --brightblue: #007bff;
    --salmon-color: #ff6e6e;
    --lightgray-color: #f1f1f1;
    --dimgray-color: #666;
    --coralred-color: #f15252;
    --mediumturquoise-color: #00c4b4;
    --amber-color: #ffcc00;
    --pastelpink-color: #f8c4c4;
    --mintgreen-color: #c8e6e1;
    --palegreen-color: #d0f2d0;
    --peachpuff-color: #f8d3a5;
}