:root {
    --black-color: black;
    --orange-color: #FF7F00;
    --charcoal-color: #333;
    --white-color: white;
    --red-color: red;
    --orange1-color: orange;
    --darkorange-color: #ffa726;
    --vividorange-color: #ff6600;
    --successgreen-color: #28a745;
    --azureblue-color: #0073e6;
    --royalblue-color: #0033cc;
    --salmon-color: #ff6e6e;
}