body {
    font-family: Arial, sans-serif;
}
.location-container {
    margin: auto;
    padding: 20px;
}
.location-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}
.location-input input {
    border: none;
    outline: none;
    flex: 1;
    margin-left: 10px;
}
.location-input .icon {
    font-size: 1.2rem;
}
.location-input .remove-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #888;
    cursor: pointer;
}
.confirm-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--white-color);
    color: var(--orange-color);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}