body {
    font-family: Arial, sans-serif;
}

header .location-container {
    margin: auto;
    padding: 20px;
}

header .location-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}

header .location-input input {
    border: none;
    outline: none;
    flex: 1;
    margin-left: 10px;
}

header .location-input .icon {
    font-size: 1.2rem;
}

header .location-input .remove-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #888;
    cursor: pointer;
}

header .confirm-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--white-color);
    color: var(--orange-color);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

main {
    padding: 1rem;
    display: none;
}


/* Service Info Styling */
main .service-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 2px solid #7ae4d2;
}

main .service-info .mb-0 {
    text-align: center;
    color: var(--orange-color);
    font-weight: bold;
}

main .service-info img {
    height: 60px;
}

/* Buttons Container Styling */
main .buttons-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

main .btn-custom {
    width: 45%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
}

main .offer-btn {
    background-color: var(--coralred-color);
    color: var(--white-color);
}

main .offer-btn:hover {
    background-color: var(--coralred-color);
    color: var(--white-color);
}

main .book-btn {
    background-color: var(--mediumturquoise-color);
    color: var(--white-color);
}

main .book-btn:hover {
    background-color: var(--mediumturquoise-color);
    color: var(--white-color);
}

/* Driver Info Styling */
main .driver-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
}

main .driver-info img {
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

main .driver-details {
    flex-grow: 1;
}

main .driver-details .mb-0 {
    justify-self: right;
}

/* Responsive Styling */
@media (min-width: 768px) {
    main .map-container {
      height: 400px;
    }
}